section.container-fluid.promo-banner
  .content
    .row
      .col-sm-12
        strong We are still working on the content for this page. Please check back soon!
        p Content under construction
