


.form-group {
  float: right;
  padding-right: 1em;
  text-align: right;
  width: 100%;

  input {
    display: inline-block;
    width: 300px;
    height: 40px;
    outline-offset: 0;
    font-size: 1.2em;
    line-height: 1.5;
    vertical-align: top;
	}

  button {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: baseline;
    box-sizing: border-box;
    background-color: black;
    color: white;
    border: 0;
    overflow: hidden;
    padding: 6px;
    font-size: 1.1em;
	}
}

aside {
  .inverse {
    background-color: #000000;
    display: block;
    padding-left: 1em;
  }
}
