
.hero-banner {
	background-color: #005ea5;
	color: #fff;
	margin-bottom: 10px;
}

.content {
	margin: auto;
	max-width: 1140px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

.hero-banner .upcoming-events {
	background-color: #0b0c0c;
	padding: 15px 15px 30px 15px;
	margin-top: 30px;
}

.upcoming-events ul {
	list-style-type: none;
	padding-left: 0;
  .date {
  	color: #ccc;
  	margin-bottom: 5px;
  	font-size: 12px;
  	font-style: italic;
  }
  li > a {
  	font-weight: 700;
  	color: #fff;
  	}
}

.promo-banner {
	background-color: #FFBF47;
	padding: 20px 0 15px;
	margin-bottom: 15px;
}

.promo-banner, .banner {
	margin-top: -10px;
}

.promo-banner strong {
	display: block;
	font-weight: 600;
}

.hero-banner .btn {
	background-color: #0b0c0c;
	border: 1px solid #0b0c0c;
	color: #fff;
}

.hero-banner .btn:focus {
	background-color: #0b0c0c;
	color: #fff;
}
