doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
  meta(name='description', content='')
  meta(name='author', content='')
  link(rel='icon', href='favicon.ico')
  title Govstrap.io - Bootstrapped GDS theme for GOV.UK related websites
  // Bootstrap core CSS
  link(href='assets/css/bootstrap.min.css', rel='stylesheet')
  // IE10 viewport hack for Surface/desktop Windows 8 bug
  link(href='assets/css/ie10-viewport-bug-workaround.css', rel='stylesheet')
  // Finally, govstrap styling
  link(href='assets/css/govstrap.css', rel='stylesheet')
  // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  // [if IE 9] 
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
      // <![endif]

include topnav.jade
