$bg-color            : #dee0e2;
$body-color          : #0b0c0c;
$link-color          : #ffbf47;
$link-on-hover       : #2e8aca;
$link-active         : #1d8feb;
$link-on-visited     : #4c2c92;
$secondary-link-color: #005ea5;
$btn-color           : #00823b;
$btn-apply           : #28a197;
$btn-bg              : #00692f;
$box-shadow          : #003618;
$date-color          : #cccccc;
$code-color          : #6f777b;
$code-bg             : #f8f8f8;
$black               : #000000;
$white               : #ffffff;
$tweet-bg            : #d5e8f3;
$phase-tag-beta      : #f47738;
$phase-tag-alpha     : #d53880;
$well                : #f5f2f0;
$light-gray-blue     : #bfc1c3;
$footer-links        : #454a4c;
