    @import 'colors';
header {
    background-color: $body-color;
}

.navbar {
    a {
        color: $white;
        font-size: 28px;
        font-weight: 500;
        &:active {
            color: $white;
        }
        &:visited {
            color: $white;
        }
        &:focus {
            color: $white;
            background-color: transparent;
            outline: 3px solid $link-color;
        }
    }
    .navbar-toggler {
        color: $white;
        border-radius: 0;
        border: 1px solid $body-color;
        &:active,
        &:focus {
            border-color: $body-color;
            outline: 0;
        }
    }
    .nav-item {
        .nav-link {
            color: $white;
            font-size: 18px;
            font-weight: 400;
        }
    }
    .navbar-collapse.collapsing {
        display: block;
        width: 100%;
        margin-top: 0;
    }
}