
.side-bar {
	border-right: 1px solid $bg-color;
	padding-right: 5px;

	.bg-primary {

		span {

			a {
				color: $white;
				font-size: 15px;
			}
		}
	}
}

.side-bar-right {
	border-left: 1px solid $bg-color;
	border-right: 0;
	padding-left: 5px;
}

.sidebar-category {
	margin-bottom: 20px;
}


.nav-pills {

	>li {
		>a {
			border-radius: 0;

			&:hover {
				background-color: $bg-color;
			}
		}
	}

}

.sidebar-category {
	margin-bottom: 20px;
}
