section.container-fluid.footer
  .row.ml-auto.mr-auto.pl-1
    .col-lg-10.offset-lg-1.col-xl-8.offset-xl-2.pt3
    hr
    .col-lg-10.offset-lg-1.col-xl-8.offset-xl-2.pt-3
      .row  
        .col-2
          a(href='http://opusvl.com/', target='_blank' rel="noreferrer noopener")
            img(src='images/OpusVL-square-logo-40-NoBG.png' alt="OpusVL Logo")
        .col-10
          | govstrap.io is an 
          a(href='http://opusvl.com/', target='_blank' rel=" noopener") OpusVL
          |  initiative.
    .col-lg-10.offset-lg-1.col-xl-8.offset-xl-2.pt-3
      .row
        .col-2
          a(href='https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/', target='_blank' rel=" noopener")
            img(src='images/ogl.png' alt="Open Government Licence Image")
        .col-10
          p All content is available under the
            span  
              a(href='https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/', target='_blank' rel=" noopener") Open Government Licence v3.0
            span , except where otherwise stated
      .row
        .col-12
          p 
            span Govstrap.io is not affiliated or endorsed by GDS, the UK Government or any official channels. It is a community project to help propagate the good work of GDS.
          p
            span Discover #Govstrap on
            span 
              a(href='https://twitter.com/search?q=%23govstrap' rel='noopener ' target="_blank") Twitter.
