section.container-fluid.footer
  .content
    .row.footer-top
    .row.footer-bottom
      .col-sm-2
        a(href='http://opusvl.com/', target='_blank' rel="noreferrer noopener")
          img(src='images/OpusVL-square-logo-40-NoBG.png')
      .col-sm-10
        | govstrap.io is an
        a(href='http://opusvl.com/', target='_blank' rel="noreferrer noopener") OpusVL
        |  initiative.
    .row.footer-bottom
      .col-sm-2
        a(href='https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/', target='_blank' rel="noreferrer noopener")
          img(src='images/ogl.png')
      .col-sm-10
        p All content is available under the
          span
            a(href='https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/', target='_blank' rel="noreferrer noopener") Open Government Licence v3.0
          span , except where otherwise stated
      .col-sm-10.col-sm-offset-2
        p 
          span Govstrap.io is not affiliated or endorsed by GDS, the UK Government or any official channels. It is a community project to help propagate the good work of GDS.
        p
          span Discover #Govstrap on
          span 
            a(href='https://twitter.com/search?q=%23govstrap' rel='noopener norefferer' target="_blank") Twitter.
