.row.pl-1.mr-auto.ml-auto
  nav.col-lg-10.offset-lg-1.col-xl-8.offset-xl-2.navbar.navbar-expand-md.navbar-dark#navbar
    a.navbar-brand(href='/') GOVSTRAP.io
    button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#mainNav', aria-controls='mainNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon

    .collapse.navbar-collapse#mainNav
      ul.navbar-nav.justify-content-center
        li.nav-item
          a.nav-link(href='https://code4health.org/' target='_blank' rel='noopener ')
            | Code 4 Health
            span.sr-only current
        li.nav-item
          a.nav-link(href='https://google.com/' target='_blank' rel='noopener ')
            | Google
        li.nav-item
          a.nav-link(href='https://getbootstrap.org/' target='_blank' rel='noopener ')
            | Bootstrap    
        li.nav-item
          a.nav-link(href='https://jquery.org/' target='_blank' rel='noopener ')
            | jQuery
        li.nav-item
          a.nav-link(href='https://webpack.org/' target='_blank' rel='noopener ')
            | Webpack
