block variables
include /includes/head

body.d-flex.flex-column
  header.container-fluid
    include /includes/topnav
  main
    block content
  footer
    include /includes/footer
  include /includes/scripts
