extends /extends/layout

block content
    section.container.compliance
        .row
            aside.col-sm-3.col-lg-2.col-xl-2.offset-lg-1.offset-xl-2
                .sidebar.sside-bar-left 
            article.col-sm-9.col-lg-8.col-xl-6