extends /extends/layout

block content 
  section.container
    .row
    
      aside.col-sm-3.col-lg-2.col-xl-2.offset-lg-1.offset-xl-2
        .side-bar.side-bar-left
          h4.bg-primary Quick Links
          ul.nav.nav-pills.nav-stacked
            li
              a(href='#hero-banner') Hero Banners
            li
              a(href='#promo-banner') Promo Banners
            li
              a(href='#general-banners') General Banners
            li
              a(href='#button-apply') Apply button

      article.col-sm-9.col-lg-8.col-xl-6
        h1 CSS
        p
          | Govstrap is basically Bootstrap with small enhancements to make it look GOV.UK themed. Below we'll go through some CSS that helps us with that.
        a(name='hero-banner')
        h3 Hero Banner
        p
          | Hero banners work best just under the main navigation, where you can put the first bit of information a user will see. Generally you'll only have one hero banner per site, but that doesn't mean you're limited to it.
        p
          | You'll want to add the 
          code hero-banner
          |  class to your surrounding 
          code container-fluid
          |  so it spans the entire screen, just like our landing page.
        .phase-tag-alpha Example
        pre.language-markup
          code.language-markup.
            &lt;section class=&quot;container-fluid hero-banner&quot;&gt;
              &lt;div class=&quot;content&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                  &lt;div class=&quot;col-sm-12&quot;&gt;
                    &lt;h1&gt;Welcome to Example site!&lt;/h1&gt;
                    &lt;p&gt;Add some text here to grab your audiences attention. It is a
                    HERO banner afterall!&lt;/p&gt;
                  &lt;/div&gt;
                &lt;/div&gt;           
              &lt;/div&gt;
            &lt;/section&gt;

        a(name='promo-banner')
        h3
          | Promo Banner 
          span.pull-right
            a.scroll-top(href='javascript:;') Top
        p
          | Promo banners are bright yellow, and will really draw the attention of people browsing your website. They should span the entire screen, just like hero banners.
        .phase-tag-alpha Example
        pre.language-markup
          code.language-markup.
            &lt;section class="container-fluid promo-banner"&gt;
              &lt;div class="content"&gt;
                &lt;div class="row"&gt;
                  &lt;div class="col-sm-12"&gt;
                    &lt;strong&gt;Use the strong tag for the top text. This should be related 
                    and lead up to the text below it&lt;/strong&gt;
                    &lt;p&gt;This totally got my attention&lt;/p&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/section&gt;

        a(name='general-banners')
        h3
          | General Banners 
          span.pull-right
            a.scroll-top(href='javascript:;') Top
        p
          | Normal banners (
          code .banner
          | ) are light blue and can be used anywhere. Like other banners, they should use the full length of the page
        .phase-tag-alpha Example
        pre.language-markup
          code.language-markup.
            &lt;section class="container-fluid banner"&gt;
              &lt;div class="content"&gt;
                &lt;div class="row"&gt;
                  &lt;div class="col-sm-12"&gt;
                    &lt;strong&gt;Strong tags work the same as the promo banners&lt;/strong&gt;
                    &lt;p&gt;Some nice text here. Whatever you want really.&lt;/p&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/section&gt;


        a(name='button-apply')
        h3
          | Apply Button 
          span.pull-right
            a.scroll-top(href='javascript:;') Top
        p
          | Sometimes you'll want a big button for important processes, like applying for something. The 
          code .btn-apply
          |  is useful here.
        .row
          .col-sm-6
            p
              | Keep in mind that 
              code btn-apply
              |  is a block, so it'll take up an entire column. I've used 2 
              code col-sm-6
              | 's here to demonstrate
          .col-sm-6
            .btn-apply
              a(href='#button-apply') Apply for foo now!
        .row
          .col-sm-12
            .phase-tag-alpha Example
            pre.language-markup
              code.language-markup.   
                &lt;div class="btn-apply"&gt;
                  &lt;a href="#"&gt;Apply for foo now!&lt;/a&gt;
                &lt;/div&gt;


