extends /extends/layout

block content
  section.container-fluid.hero-banner.pt-4
    .row.ml-auto.mr-auto.pl-1.pr-4
      .col-md-12.col-lg-10.offset-lg-1.col-xl-8.offset-xl-2
        .row
          article.hero-text.col-sm-12.col-md-8.col-lg-9
            h1 Welcome 
            p Govstrap.io is a port of the GOV.UK standard website theme to the bootstrap framework. This enables Bootstrap websites to be converted to the GDS design in minutes.
            p Govstrap.io allows websites to be fully responsive and display comfortably across all modern devices, re-using the Government Digital Services investment in user experience and accessibility.
            p The Govstrap.io project is available as Open Source and adheres to the UK Public Sector Open Source and Open Standards policy and guidance.
            form.form-inline
              .form-group.btn-group
                .sr-only(for='SearchBox') Search Box
                .input-group
                  input.form-control(type='text' id='SearchBox' placeholder='Search' aria-label='searchbox')
                  .input-group-addon
                    button(type="submit") 
                      i.fa.fa-search.fa-inverse

          aside.col.sm-12.col-md-3.col-lg-3.inverse.mt-5
            h5 Popular items
            ul.list-unstyled
            li
              a(href="#") Some link
            li
              a(href="#") Someother link
            li 
              a(href="#") Another link
            li 
              a(href="#") Last link

  section.container-fluid
    .row.pt-4.ml-auto.mr-auto.pr-1.pl-1
      article.col-md-11.col-lg-10.offset-lg-1.col-xl-8.offset-xl-2
        h2 Govstrap.io- It's all about accessibility and re-use.

        br

        p Govstrap.io is a creation by professional Open Source software specialist OpusVL, and is is a port of the GOV.UK standard website theme created by Government Digital Services to the Bootstrap framework. With an increase in the variety of devices used to view websites, Bootstrap is a standard tool kit for building responsive design and enabling websites to be mobile and tablet friendly.

        p The Government invested significantly in their GDS theme and this was released under an Open License to improve accessibility across all GOV.UK sites, allowing OpusVL to re-factor this in the form of the Bootstrap framework, in addition to the methods originally created by the GDS

        p Govstrap.io has itself been released as Free and Open Source, with the aim of helping users in the public sector to improve the consistency of it's digital footprint, while adhering to Open Standards policies when deploying a website and re-use the existing GDS investment in accessibility

        p Interestingly, Govstrap.io was not a project in itself but was created as a by-product whilst delivering an update for an existing OpusVL customer. It enables responsive design across all modern devices and instant deployment of GDS themed sites on any static hosting platform or CMS supporting Bootstrap. Govstrap.io can also be applied to existing bootstrap sites with a single line of code.

        p Govstrap.io is available for developers to download from the Github or can be acquired through the G-Cloud 8 framework as of the 1st August 2016.
      hr

  section.container-fluid
    .row.ml-auto.mr-auto.pl-1.pr-1
      .col-lg-10.offset-lg-1.col-xl-8.offset-xl-2
        .row
          .col-sm-4
            h3
              a(href='compliance.html') Re-use to become compliant
            p Investment in accessibility is important - it makes your sites easy for your users, work across devices, and is a compliance requirement
          .col-sm-4
            h3
              a(href='developer-information-and-resources.html') Developer resources
            p Resources for developers and integrators when using Govstrap.io - CSS, forms and components.
          .col-sm-4
            h3
              a(href='professional-services-and-procurement.html') Professional services
            p Access professional services to help you implement Govstrap.io
    .row.ml-auto.mr-auto.pl-1.pr-1
      .col-lg-10.offset-lg-1.col-xl-8.offset-xl-2
        .row
          .col-sm-4
            h3
              a(href='faq.html') FAQ
            p How is Govstrap.io implemented? Who is behind it? - and other questions
          .col-sm-4
            h3
              a(href='quickstart.html') Govstrap.io quick-start guide
            p 3 steps to implementing Govstrap.io 
            span 1. Get Bootstrap;  
            p 
              span 2. Add Govstrap.io; 
              span 3. You are done!
          .col-sm-4
            h3
              a(href='forms.html') Forms
            p Examples of forms, and how to build your own
    .row.ml-auto.mr-auto.pl-1.pr-1
      .col-lg-10.offset-lg-1.col-xl-8.offset-xl-2
        .row
            .col-sm-4
              h3
                a(href='css.html') CSS
              p Details some CSS rules you won't find in the regular Bootstrap
            .col-sm-4
              h3
                a(href='components.html') Components
              p Various components, such as dropdowns and sidebars
            .col-sm-4
              h3
                a(href='examples.html') Examples
              p No CSS framework is complete without some examples to help "bootstrap" your project

  section.container-fluid.banner
    .row.pt-3.ml-auto.mr-auto.pl-1
        .col-lg-10.offset-lg-1.col-xl-8.offset-xl-2.banner-message
          
            h2 Get Govstrap.io

            p Govstrap.io and related professional services can be acquired through  
              a(href='https://www.digitalmarketplace.service.gov.uk/g-cloud/services/126442748236167' target='_blank' rel='noopener ') G-Cloud.

            p Get access to procurement options and professional services 
              a(href='https://www.digitalmarketplace.service.gov.uk/g-cloud/services/126442748236167' target='_blank' rel='noopener ') here.
            p Jump to the code on  
              a(href='https://github.com/OpusVL/govstrap.io' target='_blank' rel='noopener ') Github.
