include /includes/head

section.container-fluid
  .content
    .row
      .col-xs-12.col-sm-8.col-md-8
        h2  Professional Services

        p As Free & Open Source software, you can acquire Govstrap.io freely and implement as you see fit. However, you can choose to purchase professional services to implement Govstrap.io on to your content management system, to help migrate between platforms or to manage other parts of your project.

        p Professional Open Source software is backed by providers who can offer commercial-grade services and solutions to assist with your project. Below is a list of typical professional functions that may be involved with the implementation of Govstrap.io. This ranges from ad-hoc advice to full site integration services.

        p Service packages will be available in G-Cloud 8 which is due to become active 1st August 2016.


        h2#scoping Scoping

        p For larger or more complex projects, a scoping session enables understanding of the overall project requirements and determination of success criteria. The work includes detailing immediate needs as well as longer term and future needs. The findings of the activity also provides costings, time-scales and road-maps, with a second detailed analysis focussing on technical requirements.


        h2#staging Staging

        p During integration, the project can be delivered on a staging (UAT) platform which allows live migrated data to be deployed to fully test and demonstrate the outcomes.

        h2#testing Testing

        p Automated and human testing should be undertaken at various stages during the build phases.

        h2#project-management Project management

        p Projects allocated with a "Project owner" have greater chance of success. Where appropriate, projects should be delivered with tailored PRINCE2 principles such as organisation structures, project governance, roles and responsibility and exception escalation procedures.

        h2#support-and-training Support and training

        p A support package is recommended during the final phase of the project and pre-release. Out of hours and round the clock support may also be preferable.

        h2#hosting Hosting

        p Govstrap.io enables flexible hosting options including:
          At customer site
          Cloud hosting
          3rd Party hosting


        h2#where-to-buy Where to buy

        p Alternatively Govstrap.io and associated services can be acquired directly from OpusVL - the Govstrap.io creators. Website:   
          a(href='http://opusvl.com/' rel='noopener norefferer') http://opusvl.com/ 
          span or by phone on 01788 298450.


      aside.col-sm-4.col.md-4.col-lg-4

        .side-bar.side-bar-right

          h4.bg-primary Quick Links

          ul.nav.nav-pills.nav-stacked
            li
              a(href='#scoping') Scoping
            li
              a(href='#staging') Staging
            li
              a(href='#testing') Testing
            li
              a(href='#project-management') Project management
            li
              a(href='#support-and-training') Support and training
            li        
              a(href='#hosting') Hosting

            li
              a(href='#where-to-buy') Where to buy



include /includes/footer
