include /includes/head 

.container
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      h1 Govstrap.io quickstart guide

      h4 1. Get Bootstrap

      p If you're already using Bootstrap to build your site then you're all set to style it with Govstrap.

      p If you don't have Bootstrap yet, download it from 
        a(href='https://getbootstrap.com/') getbootstrap.com.
        span  Govstrap is built for Bootstrap version 3.3.7.

      h4 2. Add Govstrap

      p Download the Govstrap CSS file from 
        a(href='https://github.com/OpusVL/govstrap.io/blob/master/govstrap.io/assets/css/govstrap.css')  GitHub.

      p Load it after Bootstrap's CSS, like this:

      br
      .phase-tag-alpha 
        span Example
      br
      br
      pre.language-markup.
        &lt;code class="language-markup"&gt;
          &lt;!-- Bootstrap core CSS --&gt;
          &lt;link href="bootstrap.min.css" rel="stylesheet"&gt;

          &lt;!-- Govstrap styling --&gt;
          &lt;link href="govstrap.css" rel="stylesheet"&gt;
        &lt;/code&gt;  

      h4 3. You're done!
      p You can now use all of the Govstrap classes and elements in your site.

include /includes/footer 
